{% extends 'sensor/index.html' %}
{% block title %}Weight Data{% endblock %}
{% block content %}

<div id="wrapper">
  <!-- Sidebar -->
  {% include 'sensor/layout/navbar.html' %}
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid">
        {% comment %} <div class="container-fluid h-100 pt-4 darker-nw"> {% endcomment %}
          <!-- Content Row -->
          <div class="card-body d-blue rounded card-cus mt-4">
            <h4 class="pb-4 text-black">Weight Estimated <span style="cursor: pointer; float: right; font-size: 1.5em"></span>
            </h4>
        
            <!-- <form class="form-horizontal" method="POST" action="/submitweight"> -->
              {% csrf_token %}   
              <div class="form-group">
                <h4 class=" text-black">
                    <div class=" mt-4 text-black" style="font-size: 15px;">Choose Dryer</div>
                    <span style="cursor: pointer; float: right; font-size: 1.5em;"></span>
                </h4>
                <select class="form-control" required name="dryer_id" id="dryer_id" style="box-sizing:inherit;">
                    <option><div class=" mt-4 text-black" style="font-size: 15px;" data-tag='Select' ></div>
                    </option>
                    {% for d in dryer %}
                    <option value="{{ d.dryer_id }}" >{{ d.name }}</option>
                    {% endfor %}
                </select>

                <div class=" mt-4 text-black" style="font-size: 15px;">
                    <label class="control-label col-sm-2" for="name"> Value 1:</label>
                      <input
                        type="int"
                        class="form-control"
                        name="data1"
                        id="data1"
                        placeholder="Enter Distance Value"
                      />
                </div>

                <div class=" mt-4 text-black" style="font-size: 15px;">
                  <label class="control-label col-sm-2" for="name"> Value 2:</label>
                    <input
                      type="int"
                      class="form-control"
                      name="data2"
                      id="data2"
                      placeholder="Enter Distance Value"
                    />
                </div>
              </div>

              <!-- Submit Button-->
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" id="submit" onclick="submitval()">Submit</button>
                </div>
              </div>
            <!-- </form> -->

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">Dryer No</th>
                  <th scope="col">Distance Value 1</th>
                  <th scope="col">Distance Value 2</th>
                  <th scope="col">Set Value 1</th>
                  <th scope="col">Set Value 2</th>
                  <th scope="col">Weight Estimated</th>
                </tr>
              </thead>
              {% for x in dryer %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ x.distance1 }}</td>_
                  <td>{{ x.distance2 }}</td>_
                  <td>{{ x.data1 }}</td>
                  <td>{{ x.data2 }}</td>
                  <td>{{ x.estimate_weight }}</td>
                </tr>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>



function submitval(){
  var dryerid = document.getElementById('dryer_id').value;
  
  fetch(
        "/api/dryer/"+dryerid,
        {
            method: "GET",
            headers: headersList,
        }
    )
    .then(function (response) {
        return response.json();
    })
    .then(function (data) {
        var d1 = data[14].distance;
        var d2 = data[15].distance;

        console.log('hHHhhh', d1, d2)
        
        var data1=document.getElementById('data1').value;
        var data2=document.getElementById('data2').value;

        console.log(data1)
        console.log(data2)
        
        var weight1 = data1 - d1;
        var weight2 = data2 - d2;

        console.log(weight1, weight2)

        if (data[14].distance == 0) {
          weight1 = weight2;
        }
        else{
          weight2 = weight1;
        }
        
        var avg_weight = (weight1 + weight2) / 2;



        console.log(avg_weight)

        $.ajax({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
          async: false,
          global: false,
          url: '/submitweight',
          type: 'POST',
          data: ({dryer_id:dryerid, data1:data1, data2:data2, weight:avg_weight, distance1:d1, distance2: d2}),
          success: function (data) {
            console.log(data);
            window.location.reload()
          }
        });

      });
}

function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie("csrftoken");

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
  }

let headersList = {};

    fetch(
        "/api/item/{{dryer_id}}/{{sensor_id}}",
        {
            method: "GET",
            headers: headersList,
        }
    )
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
        for (var i = 0; i < data.length; i++){
            console.log(data)
            var weight = data[i].weight_est;
            document.getElementById("weightest").innerHTML = data[i].weight_est;
        }
      });

  let headersList1 = {};
    

</script>
{% endblock %}